<div class="relative h-screen">
  <div class="grid grid-cols-1 w-full py-8 px-4 gap-9 h-screen">
    <div class="flex flex-col text-center items-center justify-center w-full">
      <h1 class="text-[40px] my-3">Obrigado!</h1>
      <div class="flex flex-col items-center w-full text-center md:max-w-2xl lg:max-w-4xl transition-opacity">
        <p>
          Você está a um passo de garantir sua nova tattoo! Vou dar uma olhada com calma no material que você enviou e já já te chamo pra gente dar continuidade.
        </p>
      </div>
    </div>

    <div class="mx-auto space-y-3 max-w-28 text-center  animate-slideUp">
      <p >Entraremos em contato em até</p>
      <div class="flex flex-col justify-center items-center rounded-full border border-brand-white w-28 h-28">
        <p class="!text-4xl">24</p>
        <p class="!text-xl">horas</p>
      </div>
    </div>

    <div class="mx-auto space-y-3 max-w-52 text-center animate-slideUpSlow">
      <p>Acompanhe meu trabalho!</p>
      <a
        target="_blank"
        class="text-brand-white text-base flex items-center gap-2"
        href="https://www.instagram.com/albuquerque_ink"
      >
      <div class="flex items-center gap-2 bg-brand-gold py-2 px-3 rounded-md hover:bg-brand-gold/75
      ">
        <img
          alt="instagram"
          width="24"
          height="24"
          ngSrc="/assets/Instagram.png"
        />
          {{ '@albuquerque_ink' }}
        </div>
      </a>
    </div>

    <div class="mx-auto space-y-3 max-w-52 text-center animate-slideUpSuperSlow1">
      <!-- <p>Acompanhe meu trabalho!</p> -->
      <div class="flex flex-col items-center gap-2">
        <img
          alt="location"
          width="24"
          height="24"
          ngSrc="/assets/location.png"
        />
        <p>
          Avenida Armando Salles de Oliveira, nº 355 Parque Suzano - Sala 14
        </p>
      </div>
    </div>

    <div class="mx-auto flex space-y-3 max-w-96 text-center animate-slideUpSuperSlow2">
      <p class="!text-brand-gold text-xs">
        *O valor será definido de acordo com as especificações da
        tatuagem feitas diretamente ao tatuador
      </p>
    </div>
  </div>
</div>
